*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    overflow: auto;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.menu--opciones{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-imagen img{
    width: 130px;
}

.menu--items {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 10px;
}

.menu--items li{
    display: inline;
}

.menu--items a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.menu--items a:hover{
    color: #b6b6b6;
}

.call--btn{
    background-color: #74549a;
    color: white;
    padding: 10px 20px;
    margin: 20px ;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.call--btn:hover{
    background-color: #623b89;
}
/*---------- ********** ------------------*/

.title--novedades{
    display: flex;
    justify-content: space-around;
    align-content: center ;
    text-align: center;
    margin: 40px 0px 50px;
    background-color: rgb(0, 0, 0);
    height: 200px;
    border-radius: 5px;
}

.novedades--cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 75px;
}

.title--title h2{
    color: white;
}

.title--texto p{
    color: white;
}



/*---------- Styles del contenido Novedad ------------------*/


.container--novedades{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.contenido--text{
    width: 100%;
}

.conten--info{
    width: 100%;
    display: flex;
    justify-content: center;
}

.info--contenedor{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.info--texto h3{
    padding: 10px;
}

.seccion-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info--img{
    height: 400px;
    width: 400px;
    padding: 20px;
}

.info--img img{
    height: 100%;
    width: 100%;
    border-radius: 200px;
}

.conten--parrafos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parrafos--ordenados{
    display: flex;
    width: 70%;
    text-align: justify;
}

.contenido--parrafosinfo{
    padding: 10px;
}

.contenido--parrafosinfo h3{
    padding: 10px;
}

/*-------- Styles del aside novedades -------------*/

.aside--menu-novedades{
    height: fit-content;
    font-size: 23px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 80px;
    z-index: 1000;
    margin: 10px;
    margin-right: 130px;
}

.aside--menu-novedades h3{
    margin: 20px;
    color: rgb(69, 204, 57);
}

.aside--items--menu{
    display: flex;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aside--imagecont{
    width: 250px;
    height: auto;
}


.aside--items--menu img{
    width: 100%;
    height: auto;
}


.aside--items--menu:hover {
    box-shadow: 0 0 20px rgba(199, 33, 33, 0.6);
}

.novedadMenu--texto{
    margin-left: 10px;
    height: 100%;
    width: 100%;
}

.novedadMenu--texto h4{
    font-size: 17px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.novedadMenu--texto p{
    font-size: 15px;
    padding-left: 10px;
}


/*-------- Styles del aside novedades responsivo-------------*/



.conten--menu-novedades--responsive{
    display: none;
    background-color: #fff;
    position: fixed;
    height: 100%;
    top: 0px;
    right: 0;
    overflow-y: auto;
    max-height: 100%; 
    z-index: 1000;
}

.aside--menu-novedades--responsive{
    padding: 20px;
}

.butom--cerrarmenu{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: left;
}

.call--btn--cerrarmenu{
    background-color: #c02307;
    color: white;
    padding: 10px 20px;
    margin: 20px ;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    height: 40px;
}

.call--btn--cerrarmenu:hover {
    background-color: #851805;
}


.conten--img--responsive{
    display: none;
}



/*-------------------------ESTILOS DEL FOOTER--------------------------*/


.footer{
    background-image: url(../../../Assets/Image/Image--Public/Home.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    width: 100%;
}

.footer__containerInfo{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 150px;
    color:#fff;
}

.footer__datosEmpresa{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.datosEmpresa__imgLogo{
    max-width: 120px;
}

.datosEmpresa__imgLogo img{
    max-width: 100%;
}

.footer__datosEmpresa p{
    margin-right: 20px;
}

.containerInfoEmprsa__listImtemsEmpresa{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color:#bbb;
}

.footer__ultimasPublicaciones{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__ultimasPublicaciones h4{
    font-size: 20px;
    font-weight: 700;
}

.UltimasPublicaciones{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.LinkUltimaPublicaciones{
    text-decoration: none;
}

.BorderBootom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #bbb;
    text-align: center;
}

.BorderBootom img{
    width: 150px;
}


.PublicacionUltima--text h5{
    color:#fff;
}

.PublicacionUltima--text p{
    color:#bbb;
}


.footer__atajos{
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.containerAtajos{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.containerAtajos__title{
    font-weight: 700;
    font-size: 20px;
}

.containerAtajos__containerItemsAtajos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.containerItemsAtajos__itemsAtajos{
    list-style: none;
    color: #bbb;
}

.itemAtajos__linkAtajos{
    color: #bbb;
    text-decoration: none;
}
